.container {
  background: blue;
  height: 90vh;
  width: 80vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.parent {
  background: black;
  height: 50vh;
  width: 60vw;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  /* animation  */

  animation: rotate 10s infinite;
}

.ball {
  width: 50px;
  height: 50px;
  background: radial-gradient(white, red, orange);
  border-radius: 50%;

  position: absolute;
  top: 50px;
  left: 40px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode;} */
  animation: circle 7s infinite;
}

@keyframes circle {
  0% {
    top: 40px;
    left: 40px;
  }

  20% {
    top: 600px;
    left: 40px;
  }

  40% {
    top: 600px;
    left: 70vw;
  }

  60% {
    top: 40px;
    left: 70vw;
  }

  100% {
    top: 40px;
    left: 40px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
